body {
  font-family: 'Lato', sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  background-color: #442D4B;
  color: #ffffff;
}

.fright {
  float: right;
}

.fleft {
  float: left;
}

.clearfix {
  clear: both;
  content: '';
}

header .logo {
  width: 200px;
  margin: 16px 0;
}

header ul {
  list-style-type: none;
  padding-top: 16px;
}

header ul li {
  display: inline-block;
  padding: 10px 15px;
}

header ul li a {
  color: #ffcb59;
  text-decoration: none;
  font-size: .8rem;
}

header, section, footer{
    padding: 40px;
    min-height: 40px;
}

.btn-grp {
    margin-left: 40px;
}

.btn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 5px;
}

footer {
  bottom: 0;
  background-color: #000000;
  padding: 20px 0;
}

.btn.facebook {
  background-image: url('../images/facebook.png');
}

.btn.twitter {
  background-image: url('../images/twitter.png');
}

.btn.insta {
  background-image: url('../images/instagram.png');
}

footer .logo {
  width: 200px;
  margin-right: 40px;
}

/* ADD MOVIE PAGE */

.add_movie_form {
	margin: 20px auto;
	width: 500px;
}

.add_movie_form h2{
	font-size: 1.8rem;
	text-align: center;
	margin: 20px 0;
	font-weight: normal;
}

.add_movie_form label{
  font-size: 0.9rem;
}

.add_movie_form input, .add_movie_form textarea, .add_movie_form select{
  display: block;
	width: 100%;
	background: #442D4B;
	border: 1px solid white;
	color: inherit;
	font-size: 1.2rem;
	font-family: inherit;
	padding: 0 5px;
	margin: 7px 0 15px;
	box-sizing: border-box;
}

.add_movie_form input{
	height: 40px;
}

.add_movie_form textarea {
    resize: none;
}

.add_movie_form .divide {
	display: inline-block;
	width: 50%;
	padding-left: 10px;
	box-sizing: border-box;
}
.add_movie_form .divide:first-child {
    padding-right: 10px;
		padding-left: 0;
}

.add_movie_form select::-ms-expand {
    display: none;
}
.add_movie_form select{
	border-radius: 0;
	outline : none;
  overflow : hidden;
  background : url("../images/downarrow.png") no-repeat right;
	background-position-x: 95%;
	background-size: 12px;
	height: 40px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	    -ms-appearance: none;
	     -o-appearance: none;
	        appearance: none;
}

.add_movie_form button {
	margin: 0 auto;
	display: block;
	height: 40px;
	width: 100px;
	color: white;
	background: orange;
	border: none;
	font-size: .9rem;
	border-radius: 0;
}

/* HOMEPAGE CSS */
section{
    padding: 0 40px;
    padding-bottom: 84px;
}
.category{
    margin-bottom: 40px;
}
.categoryName {
    font-size: 1.8rem;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 20px;
}

.movie {
    margin-bottom: 10px;
    width: 20%;
}

.movie .poster {
    width: 180px;
    height: 230px;
    overflow: hidden;
    /* margin: 0 auto; */
    margin-bottom: 15px;
}

.poster img{
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}
.details {
    width: 180px;
    /* margin: 0 auto; */
}
.details .yearOfRelease {
    margin: 5px 0;
    font-size: 0.8rem;
}

.details .name{
    margin: 5px 0;
    font-weight: 100;
    font-size: 1rem;
    text-transform: uppercase;
}

.stars .star {
    width: 15px;
    height: 15px;
    margin: 0;
    display: inline-block;
    background-position: center;
    background-size: contain;
}

.star-full {
    background-image: url("../images/star-full.png");
}

.star-half {
    background-image: url("../images/star-half.png");
}

.star-empty {
    background-image: url("../images/star-empty.png");
}
